:root {
    --black: #000000;
    --deep_blue: #13293D;
    --accent_blue: #18435A;
    --silver: #C6C7C4;
    --platinum: #EEF0F2;
    /* And fonts are:
    Titles: Noto Serif
    Sub-Headings/Button Titles: Iosevka Charon
    Paragraphs: Instrument Sans */
}

body {
    background: url("../images/favicon.ico")
}

header {
    font-family: font_name;
    font-size: 3em;
    text-align:center
}