@font-face {
    font-family: font_name;
    src: url(../fonts/font_name.ttf);
}

body {
    background: url("../images/favicon.ico")
}

#wrapper {
    background: green;
    border: 3px solid #a68800;
    width: 1024px;
    margin: 40px auto;
    box-shadow: 10px 10px #936700
}

header {
    font-family: font_name;
    font-size: 3em;
    text-align:center
}

section {
    width: 360px;
    height: 360px;
    border: 12px, solid, #0418A0;
    padding: 8px;
    text-align: center;
    display: inline-block;
}

